* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: "inter", sans-serif;
}

img{
    width: 100%;
    display: block;
}
/* MÀU PHÔNG NỀN */
.bg-grey {
    background: #f7f7f7;
}

section > .container{
    /* width: 1170px; */
    margin: auto;
    padding: 30px 10px;
}
 /* CHÈN HÌNH ẢNH VÀO MENU */
#banner{
    position: relative;
    background-image: linear-gradient(
            rgba(34, 34, 34, 0.6),
            rgba(34, 34, 34, 0.6)
          ),url(../images/banner.jpg);
    background-size: cover;
    height: 50vh;
}
.banner-text{
    position: absolute;
    display: grid;
    gap: 5px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: #fff;
    top: 30%;
    left: 48%;
    transform: translate(-50%, -50%);
}
h1{
    font-weight: 300;
}
#banner span{
    font-size: 12px;
    opacity: 0.8;
}
/* NAVBAR */
/* ĐƯỜNG KẺ TRÊN DƯỚI CỦA NAV */
#nav-bar {
    text-align: center;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}

#nav-bar .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.nav-ele{
    border-right: 1px solid #d0d0d0;
}
.nav-ele:first-child{
    border-left: 1px solid #d0d0d0;
}
/* TẠO KỂU CHO THẺ a */
.nav-box:link,
.nav-box:visited{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    background-color: white;
    padding: 18px 10px;  
}
.nav-box:hover,
.nav-box:active{
    background-color: #c6b8b8;
}
/* ẢNH AVARTAR */
.name{
    width: 200px;
    position: relative;
    align-self: stretch;
}
/* ICON */
.btn{
    color: #199cdb;
}
.nav-box-title{
    font-size: 20px;
    font-weight: 600;
    padding: 5px 0;
}
.nav-title{
    font-size: 12px;
    opacity: 0.6;
    padding-bottom: 5px;
}
/* THÔNG TIN CÁ NHÂN */
#about .target-container{
    width: 100%;
}
.target-container{
    display: grid;
    grid-template-columns:  50% 50%;
    padding: 0 !important;
}
#target{
    padding: 0 50px;
}
#personal-info{
    background-color: #d0d0d06e;
    padding: 0 50px;
}
.section-title{
    font-size: 32px;
    margin-bottom: 30px;
}
/* THẺ p TRONG THÔNG TIN CÁ NHÂN */
.section-container{
    line-height: 1,7;
    font-size: 16px;
    opacity: 0.8;
}
/* XÓA ĐÁNH DẤU HÀM ul */
.mt-40{
    list-style-type: none;
    margin-left: 5px;
    line-height: 1.2;
    font-size: 14px;
}
.mt-40--title{
    font-weight: bold;
}
.mt-40 li{
    opacity: 0.8;
    padding-bottom: 5px;
}
.btn-title{
    display: flex;
    gap: 10px;
    margin: 10px 0;
}
/* THÔNG TIN NGHỀ NGHIỆP */
.container-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
/* ĐƯỜNG VIỀN BÊN NGOÀI */
.box{
    border: 1px solid black;
    padding: 20px;
}
/* CHIA TỈ LỆ TIÊU ĐỀ VÀ ICON BIG */
.container-title{
    display: flex;
    align-items: center;
    opacity: 0.8;
    margin-bottom: 20px;
}
.container-title h1{
    width: 75%;
    font-weight: 700;
}
/* ICON BIG */
.btn-big{
    width: 24px;
    height: 24px;
    font-size: 48px;
    align-items: center;
    margin-bottom: 30px;
}
.container-title--body{
    margin-left: 20px;
}
.title-body{
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
}
/* IN NGHIÊNG */
.time{
    font-style: italic;
    opacity: 0.8;
    padding-bottom: 10px;
}
/* HIỆN TẠI */
.time span{
    padding: 5px 10px;
    background-color:  rgb(0, 110, 255);
    border-radius: 5px;
    color: #fff;
}
/* DẤU CHẤM TRÒN MÀU XANH */
li::marker{
    color: rgb(0, 110, 255);
    font-size: 24px;
}
li:last-child{
    padding-bottom: 10px;
}
.time-web{
    opacity: 0.8;
}
/* SỞ THÍCH */
.hopbital{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 15px;
    text-align: center;
    margin: 0;
}
.music{
    display: grid;
    text-align: center;
    justify-items: center;
    gap: 20px;
}
/* ĐƯA ICON VÀO TRONG VÒNG TRÒN */
.btn-icon{
    display: flex !important;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid rgb(0, 110, 255);
    background-color: #fff;
}
/* NGÔN NGỮ VÀ KỸ NĂNG */
.level{
    opacity: 0.8;
}
.level-content{
    margin: 10px 0;
}
/* ĐƯỜNG KẺ MÀU */
.level span{
width: 45px;
display:inline-block;
border-bottom: 4px solid gray;
height: 2px;
}
.level .blue{
border-bottom-color:blue;
}
/* CHỨNG CHỈ - GIẢI THƯỞNG */
.container-certificate{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    border-bottom: 1px solid #d6c08d;
    padding-bottom: 50px;
}
.certificate-box{
    display: grid;
    grid-template-columns: 40% 55%;
    gap: 5%;
}
/* HÌNH ẢNH CHỨNG CHỈ */
.img-certificate{
    width: 100%;
    height: auto;
}
.certificate-title{
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    padding-bottom: 10px;
    opacity: 0.9;
}
.border-left{
    padding-left: 15px;
    border-left: 1px solid #d6c08d;
}
.box-title{
    margin-top: 50px;
    width: 50%;
}
/* DỰ ÁN */
.container-project{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    opacity: 0.8;
}
/* HÌNH ẢNH DỰ ÁN */
.img-project{
    width: 100%;
    height: auto;
    border-bottom: 1px solid gray;
}
.project-section{
    border: 1px solid gray;
}
.project-title{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    margin: 15px auto 20px 10px;
}
.cv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    opacity: 0.9;
    font-size: 14px;
    border-top: 1px solid gray;
}
.year{
    padding: 7px 12px;
    border-radius: 100px;
    background-color: rgb(0, 110, 255);
    color:#fff;
}
/* BẢNG TABLE */
table{
    font-size: 14px;
    line-height: 1.5;
    border-collapse: collapse;
}
table tr td{
    padding: 10px 0;
    border-top: 1px solid gray;
}
.mota{
    vertical-align: top;
    width: 25%;
    padding-left: 5px;
}
.mota-list{
    width: 75%;
    padding-left: 10px;
}
/* FOOTER */
.footer-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    opacity: 0.8;
}
.btn-link{
    font-size: 24px;
}
.footer-link:link,
.footer-link:visited{
    display: flex;
    gap: 5px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: #000;
}
.footer-link:hover,
.footer-link:active{
    background-color: #cc9d8c;;
}
/* NÂng CAO CỦA ASM2 */
.avatar{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.avatar img{
    border: 10px solid white;
    border-radius: 50%;
}